@import "../variable/media.scss";

.menu {
  margin-top: 5.5rem;
  background: white;
  margin-bottom: 10.25rem;
  @media (max-width: $lg) {
    padding: 0 10px;
  }
  @media (max-width: 895px) {
    padding: 0 20px;
  }
  &-header {
    margin-bottom: 4.25rem;
    a {
      font-size: 10px;
      letter-spacing: 0.44px;
      text-transform: uppercase;
      color: #e8244f;
      @media (max-width: $lg) {
        font-size: 12px;
      }
    }
  }
  &-links {
    display: flex;
    flex-direction: column;
    gap: 26px;
    @media (max-width: $lg) {
      gap: 30px;
    }
    &__item {
      height: 113px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: 0.3s linear;
      @media (max-width: $lg) {
        padding: 0 20px;
      }
      @media (max-width: 895px) {
        padding: 0 20px;
      }
      span {
        max-width: 396px;
        width: 100%;
        font-size: 46px;
        color: #000000;
        @media (max-width: 895px) {
          margin-right: 30px;
          width: 396px;
        }
      }
      p {
        max-width: 356px;
        width: 100%;
        font-size: 16px;
        color: #000000;
        @media (max-width: 895px) {
          display: none;
        }
      }
      a {
        cursor: pointer;
        width: 43px;
        height: 43px;
        background-image: url("/public/assets/images/svg/arrow.svg");
        background-size: cover;
      }
      &:hover {
        background: #000000;
        padding: 0 20px;
        @media (max-width: $lg) {
          padding: 0 40px;
        }
        span,
        p {
          color: white;
        }
        a {
          background-image: url("/public/assets/images/svg/arrow-w.svg");
          background-size: cover;
        }
      }
    }
  }
}
