.advice {
  background: black;
  padding: 9rem 0 5.875rem 0;
  &-main {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 4.5rem 0 4.5rem;
    display: flex;
    justify-content: space-between;
    &-list {
      margin: 15px 7.5px;
      &__item {
        a {
          font-size: 14px;
          line-height: 28px;
          color: #ffffff;
          transform: 0.3s linear;
          cursor: pointer;
          transition: all 0.4s;
          &:hover {
            color: #e8244f;
          }
        }
      }
    }
    &-info {
      width: 834px;
      margin-bottom: 8.25rem;
      h3 {
        width: 530px;
        font-size: 58px;
        line-height: 70px;
        color: #ffffff;
        margin-bottom: 49px;
      }
      p {
        width: 416px;
        font-size: 20px;
        line-height: 26px;
        color: #ffffff;
        margin-bottom: 22px;
      }
      a {
        display: block;
        width: 142px;
        height: 32px;
        font-size: 16px;
        line-height: 21px;
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          color: #e8244f;
          border-bottom: 1px solid #e8244f;
        }
      }
    }
  }
  &-carousel {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    transform: translateX(0%);
    &__slide {
      display: flex;
      align-items: center;
      animation: sliding 10s linear infinite;
      gap: 54px;
      h4 {
        font-size: 114px;
        line-height: 148px;
        color: #181818;
        transition: 0.3s linear;
        &:last-child {
          margin-right: 54px;
        }
        &:hover {
          color: #e8244f;
        }
      }
    }
  }
}

@keyframes sliding {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}