* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
}

::before,
::after {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1266px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background: black;
  padding: 1.5rem 4.5rem 5rem 55px;
}
.header-top {
  margin-bottom: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-top__logo {
  margin-top: 10px;
}
.header-top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.125rem;
}
.header-top-nav__item a {
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
}
.header-main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 534px;
}
.header-main-img {
  position: absolute;
  -webkit-animation: circle 3s;
          animation: circle 3s;
}
.header-main-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-main-text .spin {
  cursor: pointer;
  position: absolute;
  left: 35px;
  top: -10px;
  width: 27px;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2px;
  color: #999999;
}
.header-main-text h1 {
  font-size: 114px;
  color: #ffffff;
}
.header-main-text-1 {
  width: 1000px;
  text-align: left;
}
.header-main-text-2 {
  width: 900px;
  text-align: right;
}
.header-bottom {
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-bottom-left span {
  font-size: 20px;
  line-height: 27px;
  color: white;
}
.header-bottom-right {
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 7px;
}
.header-bottom-right span {
  font-size: 20px;
  color: #ffffff;
}
.header-bottom-right p {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.4);
}

.animate {
  -webkit-animation: circle 4s !important;
          animation: circle 4s !important;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.menu {
  margin-top: 5.5rem;
  background: white;
  margin-bottom: 10.25rem;
}
.menu-header {
  margin-bottom: 4.25rem;
}
.menu-header a {
  font-size: 10px;
  letter-spacing: 0.44px;
  text-transform: uppercase;
  color: #e8244f;
}
.menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 26px;
}
.menu-links__item {
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.menu-links__item span {
  max-width: 396px;
  width: 100%;
  font-size: 46px;
  color: #000000;
}
.menu-links__item p {
  max-width: 356px;
  width: 100%;
  font-size: 16px;
  color: #000000;
}
.menu-links__item a {
  cursor: pointer;
  width: 43px;
  height: 43px;
  background-image: url("/public/assets/images/svg/arrow.svg");
  background-size: cover;
}
.menu-links__item:hover {
  background: #000000;
  padding: 0 20px;
}
.menu-links__item:hover span, .menu-links__item:hover p {
  color: white;
}
.menu-links__item:hover a {
  background-image: url("/public/assets/images/svg/arrow-w.svg");
  background-size: cover;
}

.history {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.history-header {
  padding: 0.5px 15px 94px 15px;
  width: 972px;
  height: 338px;
  margin-bottom: 45px;
}
.history-header h2 {
  font-size: 114px;
  line-height: 122px;
  color: #000000;
}
.history-profile {
  width: 324px;
  height: 338px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}
.history-profile-item span {
  display: block;
  max-width: 278px;
  width: 100%;
  font-size: 11px;
  line-height: 16px;
  color: #000000;
  margin-top: 13px;
}
.history-text {
  width: 648px;
  height: 338px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  margin-bottom: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.history-text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 583px;
  width: 100%;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 15px;
}
.history-citation {
  width: 648px;
  height: 338px;
  padding: 149px 59px 165px 65px;
  margin-bottom: 45px;
}
.history-citation span {
  font-size: 17px;
  line-height: 23px;
  color: #000000;
}

.sponsors {
  margin: 8.55rem 4.5rem 7.25rem 4.5rem;
  padding: 0 15px;
}
.sponsors span {
  font-size: 10px;
  line-height: 34px;
  letter-spacing: 0.44px;
  text-transform: uppercase;
  color: #e8244f;
}
.sponsors-list {
  margin-top: 4rem;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advice {
  background: black;
  width: 100%;
  padding: 9rem 0 5.875rem 0;
}
.advice-main {
  padding: 0 4.5rem 0 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advice-main-list {
  margin: 15px 7.5px;
}
.advice-main-list__item a {
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  -webkit-transform: 0.3s linear;
          transform: 0.3s linear;
  cursor: pointer;
}
.advice-main-list__item a:hover {
  color: #e8244f;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.advice-main-info {
  width: 834px;
  margin-bottom: 8.25rem;
}
.advice-main-info h3 {
  width: 530px;
  font-size: 58px;
  line-height: 70px;
  color: #ffffff;
  margin-bottom: 49px;
}
.advice-main-info p {
  width: 416px;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 22px;
}
.advice-main-info a {
  display: block;
  width: 142px;
  height: 32px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}
.advice-main-info a:hover {
  color: #e8244f;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border-bottom: 1px solid #e8244f;
}
.advice-carousel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.advice-carousel__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: sliding 10s linear infinite;
          animation: sliding 10s linear infinite;
  gap: 54px;
}
.advice-carousel__slide h4 {
  font-size: 114px;
  line-height: 148px;
  color: #181818;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.advice-carousel__slide h4:last-child {
  margin-right: 54px;
}
.advice-carousel__slide h4:hover {
  color: #e8244f;
}

@-webkit-keyframes sliding {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes sliding {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}